<app-page-title>SQL Utils</app-page-title>

<app-page-section>
  <app-page-section-title>Datos de Entrada</app-page-section-title>
  <p>Copia-pega tus datos</p>
  <div class="form-group">
    <textarea [formControl]="json"></textarea>
    <div class="feedback" *ngIf="json.errors">
      <ng-container *ngIf="json.errors['required']">
        No puede estar vacío
      </ng-container>
      <ng-container *ngIf="json.errors['json']">
        Formato JSON inválido
      </ng-container>
    </div>
  </div>
  <div>
    <button (click)="parseToSqlInsert()">
      Create Insert
    </button>
  </div>
</app-page-section>

<app-page-section *ngIf="output?.length">
  <app-page-section-title>Resultado</app-page-section-title>
  <pre>
    <ng-container *ngFor="let statement of output">
      {{statement}}
    </ng-container>
  </pre>
</app-page-section>
