#admin-chat {
  border: 2px solid gray;
  box-sizing: border-box;
  bottom: 0px;
  background-color: lightgray;
  height: 100px;
  padding: 10px;
  position: fixed;
  right: 0px;
  width: 400px;

  * {
    margin-top:5px;
  }

  textarea {
    display: block;
    height: 20px;
    width: 100%;
    resize: none;
  }

  button {
    float: right;
  }
}
