<div class="usuarios-forms">
  <h3>Añadir usuario</h3>
  &nbsp;
  <form [formGroup]="form">
    <div class="form-group">
      <label>Nombre</label>
      <input type="text" formControlName="nombre" />
      <div *ngIf="form.touched" class="feedback">
        Debes indicar un nombre.
      </div>
      <label>Apellidos</label>
      <input type="text" formControlName="apellidos" />
      <div *ngIf="form.touched" class="feedback">
        Debes indicar un apellido.
      </div>
      <label>Email</label>
      <input type="text" formControlName="email" />
      <div *ngIf="form.touched" class="feedback">
        Debes indicar un email.
      </div>
    </div>

    <div>
      <button type="button" (click)="cancel()">Cancelar</button>
      &nbsp;
      <button (click)="save()">Añadir</button>
    </div>
  </form>
</div>