<app-page-section>
    <app-page-section-title>Usuarios</app-page-section-title>

    <!-- Esto esta por un error que da al intentar mostrar los datos antes de ser cargados -->
    <ng-container *ngIf="usuarios; else loading">
        <ul>
            <li *ngFor="let usuario of usuarios">
                {{ usuario.id }} - {{ usuario.nombre }} - {{ usuario.apellidos }} - {{ usuario.email }}
            </li>
        </ul>
    </ng-container>
    <ng-template #loading>
        <div style="text-align: center;">
            Trabajando...
        </div>
    </ng-template>

    <div class="usuarios">
        <app-usuarios-form (crearUsuario)="crearUsuario($event)"></app-usuarios-form>

        <app-usuarios-delete [ids]="ids" (borrarUsuario)="borrarUsuario($event)"></app-usuarios-delete>

        <app-modificar-usuario [usuarios]="usuarios" (modificarUsuario)="modificarUsuario($event)"></app-modificar-usuario>
    </div>
</app-page-section>